@charset "UTF-8";

#question {
    text-align: center;
    font-family: poppins;
    font-size: 60px;
    position: absolute;
    margin-top: 43px;
    margin-right: 43px;
    margin-bottom: 43px;
    margin-left: 70px;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 260px;
    padding-top: 40px;
    max-width: 800px;
}

.button {
    font-family: Poppins;
    border: 3px solid black;
    border-radius: 50px;
    color: black;
    background-color: white;
    padding-top: 16px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 26px;
    transition-duration: 0.4s;
    cursor: pointer;
    max-width: 800px;
}
/*button-two*/
.button1 {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 300px;
    top: -295px;
  }
.button1:hover {
    background-color: black;
    color: white;
    margin-top: -205px;
    top: -295px;

}
/*button-three*/
.button2 {
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 5px;
    top: -295px;
  }
.button2:hover {
   
    background-color: black;
    color:white;
}
/*button-four*/
.button3 {
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 5px;
    top: -295px;
  }
.button3:hover {
   
    background-color: black;
    color: white;
}
/*button-six*/
.button4 {
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 5px;
    top: -295px;
   }
.button4:hover {
   
    background-color: black;
    color: white;
}
/*button->six*/
.button5 {
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 5px;
    top: -295px;
  }
.button5:hover {
    
    background-color: black;
    color: white;
}

.navbutton{
    font-family: Poppins;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    top: -19px;
}

.button6 {
    position: static;
    background-color:black;
    color: white;
    border-style: none;
    margin-top: 600px;
    top: 25px;
    left: -744px;
    margin-left: -510px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
   
  }
.button6:hover {
    padding-left:70px;
    padding-right:70px;
    background-color:#586358;
    color: white;
}


.button7 {
    position:static;
    background-color:black;
    color: white;
    top: 20px;
    border-style: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 
  }
.button7:hover {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #586358;
    color: white;
    
  }

