@charset "UTF-8";

html, 
html * {
	padding: 0;
	margin: 20;
	box-sizing: border-box;
	font-family: poppins;
}

header {
    padding: 32px;
}




#question {
    text-align: center;
    font-family: poppins;
    font-size: 60px;
    position: absolute;
    margin-top: -215px;
    color: #000000;
    text-decoration: none;
    left: 475px;
    /* box-sizing: border-box;
    justify-content: center;
    align-content: center;  */
    
    
    top: 300px;
    margin-left: -65px;
}

.button {
    font-family: Poppins;
    border: 3px solid black;
    border-radius: 50px;
    color: black;
    background-color: white;
    padding-top: 16px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    display: inline;
    /*   position: relative; */
    font-size: 26px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
    margin-top: 295px;    
    
}
/*button-two*/
.button1 {
    margin-left: 250px;
    left: 0px;
  }
.button1:hover {
    background-color: black;
    color: white;
    

}
/*button-three*/
.button2 {
    margin-left: 20px;
    margin-right: 5px;
  }
.button2:hover {
   
    background-color: black;
    color:white;
}
/*button-four*/
.button3 {
    margin-left: 20px;
    margin-right: 5px;
  }
.button3:hover {
   
    background-color: black;
    color: white;
}
/*button-six*/
.button4 {
    margin-left: 20px;
    margin-right: 5px;
   }
.button4:hover {
   
    background-color: black;
    color: white;
}
/*button->six*/
.button5 {
    margin-left: 20px;
    margin-right: 5px;
  }
.button5:hover {
    
    background-color: black;
    color: white;
}

.navbutton{
    font-family: Poppins;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button6 {
    background-color: black;
    color: white;
    border-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 0px;
    left: 0px;
    display: inline-flex;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 559px;
    margin-top: 80px;
  }
.button6:hover {
    padding-left:70px;
    padding-right:70px;
    background-color:#586358;
    color: white;
}


.button7 {
    background-color: black;
    color: white;
    border-style: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    right: 0px;
  }
.button7:hover {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #586358;
    color: white;
    
  }


.col {
	width: 100%;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}


/* mobile view */

@media (min-width:576){
    
    	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
    .name {
        margin-top: 10px;
    }
}


/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	
      
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
    .name{
        text-align:center
    }
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
    
    .line-section{
        opacity: 00;
    }

  
}

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	.style-nav {
		float: right;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
}

.line-section{
        opacity: 100;
    }

.a {
    left: 192px;
}


