@charset "UTF-8";

#question {
    text-align: center;
    font-family: poppins;
    font-size: 60px;
    position: absolute;
    margin-top: 50px;
    margin-right: 43px;
    margin-bottom: 43px;
    margin-left: 150px;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 260px;
    padding-top: 40px;
    max-width: 800px;
}

.button {
    font-family: Poppins;
    border: 3px solid black;
    border-radius: 50px;
    color: black;
    background-color: white;
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 26px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
}


.button1 {
    top: 300px;
    margin-left: 200px;
  }
.button1:hover {
    background-color: black;
    color: white;
    

}


.button2 {
    margin-left: 420px;
    margin-top: 223px;
  }
.button2:hover {
   
    background-color: black;
    color:white;
}


.button3 {
    top: 250px;
    margin-top: -327px;
    margin-left: 640px;
  }
.button3:hover {
   
    background-color: black;
    color: white;
}


.button4 {
    top: 250px;
    margin-top: -77px;
    margin-left: 860px;
  }
.button4:hover {
   
    background-color: black;
    color:white;
}


.button5 {

    top: 250px;
    margin-top: -77px;
    margin-left: 1080px;
  }
.button5:hover {
   
    background-color: black;
    color: white;
}


.navbutton{
    font-family: Poppins;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    top: -19px;
}

.button6 {
    position: static;
    background-color: black;
    color: white;
    border-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 0px;
    margin-top: 320px;
    margin-left: 580px;
  }
.button6:hover {
    padding-left:50px;
    padding-right:50px;
    background-color:#586358;
    color: white;
}


.button7 {
    position:static;
    background-color:black;
    color: white;
    top: 20px;
    border-style: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 
  }
.button7:hover {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #586358;
    color: white;
    
  }

