@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, 
html * {
	padding: 0;
	margin: 20;
	box-sizing: border-box;
	font-family: poppins;
}

header {
    padding: 32px;
}

.line-section{
        opacity: 0;
    }

footer {
	padding: 20px 30px;
}

body {
	margin-left: auto;
	margin-right: auto;
}

.name {
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    font-size: 21px;
    float: left;
    margin-top: 27px;
    box-sizing: content-box;
    margin-left: 15px;}

.style-nav ul {
    list-style-type: none;
    margin-top: 12px;
}

.style-nav ul li a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    display: block;
    padding: 15px;
    font-weight: 500;
    font-size: 21px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.line-section {
    border-bottom-width: thin;
    border-bottom-style: solid;
    margin-top: 70px;
}


#heading{
    font: 900 97px/1 Poppins;
    letter-spacing: 0 px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
}

#sub-heading{
    font: 30px Poppins;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 19px;
}
a{
    text-decoration: none;
    color: #000000;
    text-align: left;
    float:left;
    display: block;
    padding: 15px;
    font-weight:500;
    font-size: 21px;
}

.button {
font-family:Poppins;
  border: 3px solid black;
  border-radius:50px;
  color: #FFFFFF;
  padding: 20px 32px;
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  text-decoration: none;
  display: block;
  position:relative;
  font-size: 26px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button1 {
    background-color: black;
    color: white;
    margin-top: -35px;
    margin-left: 235px;
    top: 57px;
    left: 250px;
  }

.button1:hover {
  
    background-color: #586358;
    color: white;
    border:0px none black;
}
.col {
	width: 100%;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}


/* mobile view */

@media (min-width:576){
    
    	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
    .name {
        margin-top: 10px;
    }
}


/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	
      
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
    .name{
        text-align:center
    }
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
    
    .line-section{
        opacity: 00;
    }

  
}

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	.style-nav {
		float: right;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
}

.line-section{
        opacity: 100;
    }

.a {
    left: 192px;
}
